@charset "UTF-8";
/* サイト全体の基本設定。文字色、背景、フォントサイズ、タグ規定スタイルの変更等。 */


/*●スクロールバーでセンター揃えがずれるのを防ぐ*/
html {
	height:100%;
	margin-bottom:1px;
	overflow-y:scroll;
} 


/*●外側の背景色*/
.body {
	background: url(../images/top_img.png) 50% 0 no-repeat, url(../images/backgradation.jpg) 0 0 repeat-x; /* FireFox, webkit, Opera */
	*background: transparent url(../images/backgradation.gif) 50% 0 repeat-x; /* IE lt IE8 */
	background: transparent url(../images/backgradation.gif) 50% 0 repeat-x\9; /* IE8 */
	-ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader (src='../images/backgradation.jpg', sizingMethod='crop')";
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader (src='../images/backgradation.jpg', sizingMethod='crop'); /* IE5.5+ */
	}

.sub-body {
	background-color:#EEE8D6;
}




/*** ●文字設定関連 ***/
.nametxt {
	font-size: 39px;
	font-family:"ヒラギノ明朝 Pro W3", "Hiragino Mincho Pro", "ＭＳ Ｐ明朝", "MS PMincho", serif;
	}

.nametxt-s {
	font-size: 12px;
	line-height:2.5em;
	font-family: Arial, Helvetica, sans-serif;
	}

.cd-title {
	font-size: 21px;
	font-family:"ヒラギノ明朝 Pro W3", "Hiragino Mincho Pro", "ＭＳ Ｐ明朝", "MS PMincho", serif;
	color:#AA8425;
	}
.cd-subtitle {
	font-size: 107%;
	line-height:1.5em;
	font-family:"ヒラギノ明朝 Pro W3", "Hiragino Mincho Pro", "ＭＳ Ｐ明朝", "MS PMincho", serif;
	color:#AA8425;
	}

.cd-info {
	font-size:95%;
	line-height:1.4em;
}
.news-txt {
	padding-left:1.5em;
	line-height:1.5em;
}
.contens-txt {
	padding-left:2em;
	text-indent:-2em;	
	line-height:1.5em;
}


.mincho{
	font-family:"ヒラギノ明朝 Pro W3", "Hiragino Mincho Pro", "ＭＳ Ｐ明朝", "MS PMincho", serif;
	font-weight:normal;
	}


.txt-small {
	font-size:95%;
	line-height:20px;
}
.txt-ssmall {
	font-size:90%;
	line-height:20px;
}
.txt-large {
	font-size:110%;
	line-height:20px;
}
.txtline-15em {
	line-height:1.5em;
}
.txtline-20em {
	line-height:2em;
}
.txtline-25em {
	line-height:2.5em;
}
.txtline-3em {
	line-height:3em;
}
.txtmarker-b-w {
	background:#000000;
	color:#FFFFFF;
	font-weight:bold;
}
.txt-spacing-01 {
	letter-spacing:-0.1em;
}
.txt-spacing-02 {
	letter-spacing:-0.2em;
}




/*●横罫線*/
hr {
	width: 100%;
	border:solid #CCC;
	border-width:1px 0px 0px 0px;
	height:1px;
	overflow:hidden;
	margin:40px 0 45px 0;
}
.hr2 {
	width: 100%;
	border:solid #CCC;
	border-width:1px 0px 0px 0px;
	height:1px;
	overflow:hidden;
	margin:40px 0 15px 0;
}


--------------------------------------


/*●リンク集の文字設定*/
.navi{color: #595757; font-family: "ＭＳ Ｐゴシック", Osaka, "ヒラギノ角ゴ Pro W3"; TEXT-DECORATION: none }
a:hover.navi {color: #000000; TEXT-DECORATION: underline }

.tiku-title {
	font-size: 12px;
	font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
}


/*そのほかのスタイル*/
.nonborder { border:none; outline:none; }


/*囲み枠スタイル*/
table.lineborder {border-collapse: collapse;
	margin: 10px 0px;
	}
td.line-title {
	padding: 5px 10px 5px 5px;
	border: solid 1px #808080;
	font-size: 18px;
	font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
	color: #4D4D4D;
}