@charset "UTF-8";
/* 一般的なサイトデザインで共通して使用可能なクラス設定など */



/* フロート画像(右) */
img.flright {
    display: block;
    line-height: normal;
    float: right;
    margin: 5px 0 5px 15px;
}

/* フロート画像(左) */
img.flleft {
    display: block;
    line-height: normal;
    float: left;
    margin: 5px 15px 5px 0;
}
img.flleft2 {
    display: block;
    line-height: normal;
    float: left;
    margin: 7px 10px 7px 0;
}


/* フロートクリア */
.clear {
    clear: both;
    font-size: 1px;
    height: 1px;
}


/* よく使う文字色 */
.fc_FFF { color: #FFF; }
.fc_FCC { color: #FCC; }
.fc_F99 { color: #F99; }
.fc_F66 { color: #F66; }
.fc_F33 { color: #F33; }
.fc_F00 { color: #F00; }
.fc_96F { color: #96F; }
.fc_F60 { color: #F60; }
.fc_3C9 { color: #3C9; }
.fc_C00 { color: #C00; }
.fc_00C { color: #00C; }
.fc_CCC { color: #CCC; }
.fc_0F0 { color: #0F0; }
.fc_AAE { color: #AAE16F; }



/* 文字サイズ */
.fsxxlarge { font-size: 160%; }
.fsxlarge { font-size: 140%; }
.fslarge { font-size: 120%; }
.fssmall { font-size: 84%; }


/* 行間 */
.txtheight { line-height: 1.6; }
/* テキストコンテンツエリアの行間 */
.txtcont p,
.txtcont li,
.txtcont dl { line-height: 1.6; }


/* 文字種 */
.ffmono {
font-family: "ＭＳ ゴシック", "Osaka－等幅", mono;
}


/* 水平線 */
.solidline {
 font-size: 1px;
 line-height: 1px;
 height: 1px;
 border-bottom: solid 1px #C9C9C9;
 }
.dashedline {
 font-size: 1px;
 line-height: 1px;
 height: 1px;
 border-bottom: dashed 1px #C9C9C9;
 }
.dottedline {
 font-size: 1px;
 line-height: 1px;
 height: 1px;
 border-bottom: dotted 1px #C9C9C9;
 }


/* テーブル */
.tbl_clear {
 background: none;
 padding: 0;
 border-style: none;
}

.tbl_type01 {
 margin:3px 0;
 width:100%;
 border-top:solid 1px #C9C9C9;
 border-left:solid 1px #C9C9C9;
 }
.tbl_type01 th, .tbl_type01 td {
 padding: 3px 3px 3px 6px;
 line-height: 1.6;
 border-right:solid 1px #C9C9C9;
 border-bottom:solid 1px #C9C9C9;
 text-align: left;
 vertical-align: top;
 }
.tbl_type01 th {
 font-weight:normal;
 background-color: #FBF3E2;
 }
.tbl_type01 td table {
 margin:0px;
 border-top: none;
 border-left: none;
}
.tbl_type01 td table td {
 padding:0px;
 border-right: none;
 border-bottom: none;
}



/* 各種リスト */
ul.txtlistnone {
 list-style-type: none;
 line-height: 1.6;
 }
ul.txtlistnone ul {
 list-style-type: none;
 margin-left: 2em;
 margin-bottom: .6em;
 }


ul.jisage1 {
 list-style-type: none;
 line-height: 1.6;
 }
ul.jisage1 li {
 padding-left: 1.1em;
 text-indent:-1em;
 }


dl.dllistnone {
 line-height: 1.6;
 }
dl.dllistnone dd  { margin-left: 2em;
 margin-bottom: .6em;
 }


ul.normalul {
 margin-left: 2.2em;
 line-height: 1.6;
 }
ul.normalul ul {
 margin-left: 2.2em;
 line-height: 1.6;
 }
ol.normalol {
 margin-left: 2.8em;
 line-height: 1.6;
 }
ol.normalol ol {
 margin-left: 2.8em;
 list-style-type: decimal-leading-zero;
 }


/* マージン */
.mgb05 { margin-bottom: 0.5em; }
.mgb10 { margin-bottom: 1em; }
.mgb15 { margin-bottom: 1.5em; }
.mgb20 { margin-bottom: 2em; }
.mgb30 { margin-bottom: 3em; }


.mlb05 { margin-left: 0.5em; }
.mlb10 { margin-left: 1em; }
.mlb15 { margin-left: 1.5em; }
.mlb20 { margin-left: 2em; }
.mlb30 { margin-left: 3em; }


.mtb05 { margin-top: 0.5em; }
.mtb10 { margin-top: 1em; }
.mtb15 { margin-top: 1.5em; }
.mtb20 { margin-top: 2em; }
.mtb30 { margin-top: 3em; }


