@charset "UTF-8";
/* サイト全体の大まかなレイアウト　ブロックのレイアウトのみの設定。  */

/*** 大外枠 ***/
#outline {
position: relative;
margin: 0px auto;
padding: 0px 22px;
width: 980px;
z-index: 0;
}


/** TOPコンテンツ。詳細は object.css で規定 **/
#top-contents {
	width: 980px;
	min-height:555px;
	margin-bottom:9px;
	border-top:solid 3px #AA8425;
	background-image:url(../images/top_chiyuki.jpg);
	background-position:bottom;
	background-repeat:no-repeat;
	background-color:#000000
}

/** TOPコンテンツ。挨拶部分の設定 **/
#greeting {
	width:520px;
	margin:43px 55px 0;
	font-family:"ヒラギノ明朝 Pro W3", "Hiragino Mincho Pro", "ＭＳ Ｐ明朝", "MS PMincho", serif;
	font-size: 94%;
	line-height: 27px;
	color: #fff;
	text-align : justify ; 
	text-justify: inter-ideograph;
}


/*** コンテンツ ***/
/** サイト内容記述領域。詳細は object.css で規定 **/
#contents {
	padding: 0px 25px;
	width: 749px;
	float:right;
	min-height:419px;
	border-left:solid 1px #AA8425;
	font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
	font-size: 75%;
	line-height: 26px;
	color: #000;
	text-align : justify ; 
	text-justify: inter-ideograph;
}

#sub-mainbox {
	width:980px;
	padding-top:25px;
	background-color:#FFFFFF;
}