@charset "UTF-8";
/* コンテンツブロック内の詳細設定 */


/*** ●news ***/
.syutuen { line-height:1.5; }
.syutuen dt {
	float:left;
	margin-bottom:5px;
	font-weight:bold;
	text-indent:1em;
	}
.syutuen dd {
	margin-bottom:5px;
	margin-left:6em;
}


/*** ●プロフィール枠 ***/
#profile {
	width: 550px;
	margin-top:66px;
	float:left;
	}	
.profile-right{
	width:130px;
	float:right;
	margin-top:66px;
	}

	
/*** ●メッセージ枠 ***/
div#message-box {
	width: 550px;
	float:left;
	}
div#message-top {
	width: 500px;
	padding:25px 25px 40px;
	margin-top:38px;
	background-color:#F6F7EF;
	font-weight:normal;
	color:#00693E;
	background-image:url(../../message/images/note_up.jpg)
	}
div#message-body {
	width: 500px;
	padding:0 25px;
	line-height:31px;
	font-family:"ヒラギノ明朝 Pro W3", "Hiragino Mincho Pro", "ＭＳ Ｐ明朝", "MS PMincho", serif;
	text-align : justify ; 
	text-justify: inter-ideograph;
	background-image:url(../../message/images/noteline.gif);
	background-color:#F6F7EF;
	}
div#message-bottom {
	width: 500px;
	height:30px;
	padding:30px 25px 25px;
	background-color:#F6F7EF;
	background-image:url(../../message/images/note_bottom.jpg);
	background-position:bottom;
	background-repeat:no-repeat
	}
div#message-bottom li {
	width:166px;
	float:left;
}
	
.message-day {
	text-align:right;
	font-size:90%;
	}
#contens {
	width: 174px;
	margin-left:25px;
	float:right;
	}
	
	
/*** ●ディスコグラフィープレイヤー設定 ***/	
#players {
	width:240px;
	height:200px;
	font-family:"Myriad","Myriad Pro",Georgia,Helvetica,Sans-serif;
	padding:0 0 5px 0;
	margin:0;
	background:#fff;
	outline: none;
	overflow:auto;
	background-image:url(../../discography/images/html5-audio.gif);
	background-repeat:no-repeat;
}
/*リンク文字全般*/
a { /*リンクされた文字*/
	text-decoration: none;
	color: #00693E;
}
a:link {/*未訪問のリンク*/
	color: #00693E;
}
a:visited {/*訪問後のリンク*/
	color: #AA8425;
}
a:active {/*クリック中*/
	color: #00693E;
}
a:hover {/*マウスをのせたとき*/
	color: #C30D23;
	text-decoration:underline;
}

/*四角で囲んだ文字*/
.cubettl{
border-style: solid;
border-width: 1px;
border-color: #000000;
color:#000000;
}
/*Safariのみ見え方が異なるため、ハックで調整*/
body:last-child:not(:root:root) .cubettl {
padding-top:0px;
padding-bottom:1px;
}

/*ディスコグラフィー詳細ページ、back-nextボタン*/
div#discography-bottom {
	width: 749px;
	height:30px;
	background-position:bottom;
	background-repeat:no-repeat
	}
div#discography-bottom li {
	width:249px;
	float:left;
}

/*ディスコグラフィー[audio]フォルダー*/
.audio-txt {
	font-size:95%;
	line-height:1.5em;
	padding-left:1.3em;
	text-indent:-1.3em;	
}