@charset "UTF-8";
/* フッター要素の詳細設定*/


/*** トップページ用フッター ***/
#top-footer {
	width: 980px;
	height: 38px;
	margin:0 0 0 0;
	border-top:solid 1px #B5B5B6;
	font-family:Arial, Helvetica, sans-serif;
	font-size: 10px;
	line-height:4em;
	text-align:right;
	color: #B5B5B6;
}

/*** サブページフッター ***/
#footer {
	margin: 0 auto;
	padding: 15px 0 0 0;
	width: 980px;
	height: 25px;
	font-family:Arial, Helvetica, sans-serif;
	font-size: 10px;
	text-align:right;
	color: #B5B5B6;
	z-index: 10;
}