@charset "UTF-8";
/* 各メニューの詳細設定 */

/* Basic Style */
* {
	margin:0;
	padding:0;
}





/** メインメニュー（トップページ）ブロック要素**/
#top-menubox {
width: 980px;
height: 47px;
overflow: hidden;
z-index: 20;
outline: none;
}


ul{
list-style-type:none;
}
li{
margin:0;
padding:0;
}
#menu1{
float:left;
width:141px;
height:47px;
text-indent:-9999px;
background: url(../images/top_menu1.gif) no-repeat;
}
#menu1 a{
width:141px;
height:47px;
display:block;
}
#menu1 a:hover{
background: url(../images/top_menu1.gif) no-repeat;
background-position:bottom;
}

#menu2{
float:left;
width:140px;
height:47px;
text-indent:-9999px;
background: url(../images/top_menu2.gif) no-repeat;
}
#menu2 a{
width:140px;
height:47px;
display:block;
}
#menu2 a:hover{
background: url(../images/top_menu2.gif) no-repeat;
background-position:bottom;
}

#menu3{
float:left;
width:140px;
height:47px;
text-indent:-9999px;
background: url(../images/top_menu3.gif) no-repeat;
}
#menu3 a{
width:140px;
height:47px;
display:block;
}
#menu3 a:hover{
background: url(../images/top_menu3.gif) no-repeat;
background-position:bottom;
}

#menu4{
float:left;
width:140px;
height:47px;
text-indent:-9999px;
background: url(../images/top_menu4.gif) no-repeat;
}
#menu4 a{
width:140px;
height:47px;
display:block;
}
#menu4 a:hover{
background: url(../images/top_menu4.gif) no-repeat;
background-position:bottom;
}

#menu5{
float:left;
width:140px;
height:47px;
text-indent:-9999px;
background: url(../images/top_menu5.gif) no-repeat;
}
#menu5 a{
width:140px;
height:47px;
display:block;
}
#menu5 a:hover{
background: url(../images/top_menu5.gif) no-repeat;
background-position:bottom;
}

#menu6{
float:left;
width:140px;
height:47px;
text-indent:-9999px;
background: url(../images/top_menu6.gif) no-repeat;
}
#menu6 a{
width:140px;
height:47px;
display:block;
}
#menu6 a:hover{
background: url(../images/top_menu6.gif) no-repeat;
background-position:bottom;
}

#menu7{
float:left;
width:139px;
height:47px;
text-indent:-9999px;
background: url(../images/top_menu7.gif) no-repeat;
}
#menu7 a{
width:139px;
height:47px;
display:block;
}
#menu7 a:hover{
background: url(../images/top_menu7.gif) no-repeat;
background-position:bottom;
}



.update {
width: 980px;
height:20px;
font-size:10px;
text-align:center;
color:#00693E;
overflow: hidden;
z-index: 20;
}




/** サブページメニュー　ブロック要素**/
#sub-menubox {
width: 180px;
height: 450px;
float:left;
overflow: hidden;
z-index: 20;
outline: none;
}
#sub-menu1{
float:left;
width:180px;
height:54px;
text-indent:-9999px;
background: url(../images/sub_menu1.gif) no-repeat;
}
#sub-menu1 a{
width:180px;
height:54px;
display:block;
}
#sub-menu1 a:hover{
background: url(../images/sub_menu1.gif) no-repeat;
background-position:right;
}
#sub-menu1_on{
float:left;
width:180px;
height:54px;
text-indent:-9999px;
background: url(../images/sub_menu1.gif) no-repeat;
background-position:right;
}

#sub-menu2{
float:left;
width:180px;
height:66px;
text-indent:-9999px;
background: url(../images/sub_menu2.gif) no-repeat;
}
#sub-menu2 a{
width:180px;
height:66px;
display:block;
}
#sub-menu2 a:hover{
background: url(../images/sub_menu2.gif) no-repeat;
background-position:right;
}
#sub-menu2_on{
float:left;
width:180px;
height:66px;
text-indent:-9999px;
background: url(../images/sub_menu2.gif) no-repeat;
background-position:right;
}

#sub-menu3{
float:left;
width:180px;
height:66px;
text-indent:-9999px;
background: url(../images/sub_menu3.gif) no-repeat;
}
#sub-menu3 a{
width:180px;
height:66px;
display:block;
}
#sub-menu3 a:hover{
background: url(../images/sub_menu3.gif) no-repeat;
background-position:right;
}
#sub-menu3_on{
float:left;
width:180px;
height:66px;
text-indent:-9999px;
background: url(../images/sub_menu3.gif) no-repeat;
background-position:right;
}

#sub-menu4{
float:left;
width:180px;
height:66px;
text-indent:-9999px;
background: url(../images/sub_menu4.gif) no-repeat;
}
#sub-menu4 a{
width:180px;
height:66px;
display:block;
}
#sub-menu4 a:hover{
background: url(../images/sub_menu4.gif) no-repeat;
background-position:right;
}
#sub-menu4_on{
float:left;
width:180px;
height:66px;
text-indent:-9999px;
background: url(../images/sub_menu4.gif) no-repeat;
background-position:right;
}

#sub-menu5{
float:left;
width:180px;
height:66px;
text-indent:-9999px;
background: url(../images/sub_menu5.gif) no-repeat;
}
#sub-menu5 a{
width:180px;
height:66px;
display:block;
}
#sub-menu5 a:hover{
background: url(../images/sub_menu5.gif) no-repeat;
background-position:right;
}
#sub-menu5_on{
float:left;
width:180px;
height:66px;
text-indent:-9999px;
background: url(../images/sub_menu5.gif) no-repeat;
background-position:right;
}

#sub-menu6{
float:left;
width:180px;
height:66px;
text-indent:-9999px;
background: url(../images/sub_menu6.gif) no-repeat;
}
#sub-menu6 a{
width:180px;
height:66px;
display:block;
}
#sub-menu6 a:hover{
background: url(../images/sub_menu6.gif) no-repeat;
background-position:right;
}
#sub-menu6_on{
float:left;
width:180px;
height:66px;
text-indent:-9999px;
background: url(../images/sub_menu6.gif) no-repeat;
background-position:right;
}

#sub-menu7{
float:left;
width:180px;
height:66px;
text-indent:-9999px;
background: url(../images/sub_menu7.gif) no-repeat;
}
#sub-menu7 a{
width:180px;
height:66px;
display:block;
}
#sub-menu7 a:hover{
background: url(../images/sub_menu7.gif) no-repeat;
background-position:right;
}
#sub-menu7_on{
float:left;
width:180px;
height:66px;
text-indent:-9999px;
background: url(../images/sub_menu7.gif) no-repeat;
background-position:right;
}