@charset "UTF-8";
/* ヘッダー要素の詳細設定 */


/*** トップページ用ヘッダー ***/
#top-header {
	width: 980px;
	height: 91px;
	text-align: left;
	z-index: 10;
	}

/*** サブページヘッダー ***/
#header {
	width: 980px;
	height: 122px;
	background-color:#000000;
	border-bottom:solid 3px #AA8425;
	z-index: 10;
}