@charset "utf-8";

body,th,td {
	font-size:80%;
	background:#fff;
	color:#000;
	font-family: 'ヒラギノ角ゴ Pro W3','Hiragino Kaku Gothic Pro','メイリオ UI','Meiryo UI','メイリオ',Meiryo,'ＭＳ Ｐゴシック',sans-serif;
}
table.form {
	border:1px solid #7777bb;
	border-collapse:collapse;
	margin-top:1em;
}
table.form th,td {
	text-align:left;
	border:2px solid #fff;
	padding:8px;
	font-weight:normal;
}
table.form th {
	background:#EEE8D6;
}
table.form td {
	background:#f0f0f0;
	width:500ox;
}
strong.ttl {
	text-align:left;
	border-left:solid 4px #AA8425;
	display:block;
	padding:2px 5px;
	margin-top:2em;
}
input.button {
	width:90px;
}
.msg {
	color:#dd0000;
	margin:2em;
}
form.back {
	margin-top:2em;
}
input.submit {
	height:30px;
	width:110px;
}

img {
	float:left;
}